@import "tailwindcss";
@source "../../templates";


@theme {
  --color-brand: #f6f6f6;
  --color-brand-light: #334155;
  --animate-fade-out: fadeOut 0.5s ease-in 2s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-8px);
        pointer-events: none;
    }
}

@layer components {
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .accordion-content.active {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
  }
}